local_settings.py                                                           
*~
*.orig
*.pyc
*.pyo
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
media/uploads
tmp
.DS_Store
cassandra.*
nohup.out
*.log
